.App {
  min-height: 100vh;
  background-color: #1c282c;
  color: rgb(255, 255, 255);
  padding: 20px;
}

.hrclass{
  background-color:skyblue;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
